:root {
  --color1: #000000;
  --color2: #333333;
  --color3: #0d6efd;
  --color4: #6200EE;
}

.splashContainer {
  margin-top: 6vw;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.splashText {
  font-size: 5vw;
}

Button {
  margin: 10px;
}