/* :root {
  --color1: #000000;
  --color2: #333333;
  --color3: rgb(227, 227, 227);
  --color4: #6200EE;
} */

.projectsContainer {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectsHeaders {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectsHeader2 {
  font-size: 1.5em;
}

.projectsRow {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cardGroup {
  border-radius: 15px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bgColor {
  background-color: var(--color3);
  color: var(--color2);
}

.linkBtn {
  color: var(--color3);
  background-color: var(--color2);
  border: var(--color3);
}

.linkBtn:hover {
  background-color: var(--color1);
}