/* :root {
  --color1: #000000;
  --color2: #333333;
  --colorBone: rgb(227, 227, 227);
  --color4: #6200EE;
} */

.navColors {
  background-color: var(--color1);
  color: var(--color3);
}

.navColors:hover {
  color: var(--color4);
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navBrand {
  padding-left: 25px;
  font-size: 2em;
  display: flex;
}

.navLink {
  font-size: 1.2em;
}
