/* :root {
  --color1: #000000;
  --color2: #333333;
  --colorBone: rgb(227, 227, 227);
  --color4: #6200EE;
} */

.navColors {
  background-color: var(--color1);
  color: var(--color3);
}

.navColors:hover {
  color: var(--color4);
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navBrand {
  font-size: 35px;
}

.navLink {
  font-size: larger;
}
