/* :root {
  --color1: #000000;
  --color2: #333333;
  --color3: rgb(227, 227, 227);
  --color4: #6200EE;
} */
 
.blurb-container,
.blurb-header,
.socials-container,
.socials-text,
.blurb-text,
.links{
  /* background-color: var(--color3); */
  color: var(--color3);
}

.about-container {
  margin-top:6vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.blurb-header {
  margin: 25px;
  font-size: 3vw;
}

.blurb-container {
  width: 70%;
  font-size: 1.5vw;
  border-radius: 5%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials-container{
  font-size: 1.2vw;
  display: flex;
  flex-direction: row;
}

.links{
  text-decoration: underline;
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.links:hover {
  color: var(--color4);
}