/* :root {
  --color1: #000000;
  --color2: #333333;
  --color3: rgb(227, 227, 227);
  --color4: #6200EE;
} */

.bgColor {
  background-color: var(--color3);
}

.contactContainer {
  padding-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardGroup {
  width: 75%;
}

.cardElement {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardTitle {
  font-size: 45px;
  font-weight: bold;
}

.contactText {
  font-size: larger;
}

.emailText {
  color: var(--color4);
  font-size: x-large;
  font-weight: bold;
}

.cardBodyLinks {
  display: flex;
  flex-direction: row;
}

.linksContainer {
  display: flex;
  flex-direction: row;
}

.contactEmail {
  color: var(--color4);
}

.downloadBtn {
  color: var(--color3);
  background-color: var(--color4);
  border-color: var(--color4);
}

.downloadBtn:hover {
  background-color: var(--color2);
  border-color: var(--color2);
}